$gray: #ccc;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #001A33;
}

h3 {
  margin: 5px 0;
  img[src*="logo"] {
    margin: 0;
    vertical-align: middle; 
    display: inline-block;
  }
}

a {
  text-decoration: none;
}

.header,
.footer {
  height: 30px;
}

.container {
  max-width: 950px;
}

img {
  width: 100%;
  &[src*="logo"] {
    margin: 10px 10px 0 0 ;
    height: 40px;
    width: auto;
  }
  &.logo {
    width: 30px;
    height: 30px
  }

}

.wrapper {
  position: fixed;
  @media screen and (max-width: 48em) {
    position: static;
  }
}

.section-header {
  border-bottom: 1px solid $gray;
  padding-bottom: 5px;
}

.company-name {
  font-weight: bold;  
}

#intelli-soft {
  text-transform: uppercase;
  color: #00a2c5;
  span {
    color: #3f434a;
  }
}

#softevol {
  line-height: 45px;

  img {
    width: 45px;
    margin-right: 5px;
    vertical-align: middle; 
    display: inline-block;
  }
}

.duration {
  color: gray;
}

@media print {
  .wrapper {
    position: relative;
    &>.row {
      display: inline-block;
      margin-right: 20px;
      &:first-child {
        width: 30%;
      }
    }
  }
}