body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  line-height: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #001A33;
}

h4 {
  margin: 5px 0;
}

.header,
.footer {
  height: 30px;
}

.container {
  max-width: 950px;
}

img {
  width: 100%;
  &[src*="logo"] {
    margin: 10px 10px 0 0 ;
    width: 40px;
    height: 40px
  }
  &.logo {
    width: 30px;
    height: 30px
  }

}

.section-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}