section.row.education
  .col-xs-12
    .box: h3.section-header Education
  .col-xs-offset-1.col-xs-10
    .box
      h4 Bachelor’s degree, Electronics
      p 
        | 09.2004 - 06.2010
      p The National Technical University of Ukraine “Kyiv Polytechnic Institute”.