.col-xs-12: .box: h2.section-header Education
.col-xs-12: .box
  h3 Bachelor’s degree, Electronics
  p 
    | 09.2004 - 06.2010
  p The National Technical University of Ukraine “Kyiv Polytechnic Institute”.