section.row.expirience
  .col-xs-12
    .box: h3.section-header Experience
  .col-xs-offset-1.col-xs-10
    .box
      h4 Front-end developer (AngularJS)
      p 
        | 09.2016 – present time (9 months)
        br
        span IntelliSoftware
      p Implement the web-app for a scheduling and monitoring of equipment state.

      h4 Front-end developer (AngularJS)
      p 
        | 01.2016 – 08.2016 (8 months)
        br
        span Softevol
      p Implement interfaces for displaying and editing the game events schedule.

      h4 Front-end developer (MeteorJS)
      p 
        |	01.2015 – 12.2015 (1 year)
        br
        span Hmarochoice
      p Creating CRM for small business. Implemented application architecture, authorization system, form builder, file manager.