.wrapper
  .row
    .col-xs-12.col-sm-9.col-md-11
      .box
        img.userpick(src=assetsUrl + "userpic.png")
  .row
    .col-sm-9.col-md-11
      .box
        .row: .col-xs-12: .box
            h2 Ruslan Makarenko
            p Web Developer
        .row: .col-xs-11: .box
            a(target="_blank" href="https://www.linkedin.com/in/ruslan-makarenko-89759b74/")
              img.logo(src=assetsUrl + "logos/linkedin-logo.svg")
            a(target="_blank" href="https://github.com/macruss")
              img.logo(src=assetsUrl + "logos/github-logo.svg")