- var assetsUrl='assets/images/'
.container.container-fluid
  .row
    section.col-xs-12.col-sm-4.info: .box
      include info
    .col-sm-8: .box
      section.row.skills
        include skills
      section.row.expirience
        include expirience
      section.row.education
        include education
  

      


