<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Ruslan Makarenko CV page
    link(rel="stylesheet", href="all.min.css")
  body
    include views/header
    include views/layout
